@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

body {
    background-color: #FFF;
    font-family: Montserrat;
}

.align-middle {
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.textfield {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:40px;
    width: 130px;
    background-color:#FFF;
    border: 2px solid #1ECD97;
    border-radius: 10px;
    color: #1ECD97;
    font-size: 14px;
    font-family: Montserrat;
    outline-style: none;
}

.ui-btn {
    /* placing */
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* end of placing */
    height: 40px;
    width: 130px;
    background-color: #FFF;
    border: 2px solid #1ECD97;
    border-radius: 50px;
    color: #1ECD97;
    font-size: 14px;
    font-family: Montserrat;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
}

.ui-btn:hover {
    background-color: #1ECD97;
    color: #FFF;
    transition: 0.4s;
}


i {
    font-size: 25px;
}